/* header  */
header.header {
    background: #b1914c;
}

.main-logo a img {
    width: 100%;
}

nav.header-menu ul li a {
    color: #fff;
    padding: 4px 3px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

nav.header-menu ul {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

nav.header-menu ul li {
    list-style: none;
}

a.registerr {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
    padding: 15px 27px 15px 27px;
    text-decoration: none;
    transition: all 400ms linear;
}

a.registerr:hover {
    background: transparent;
    color: #fff;
}

a.loginn {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    fill: #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
    padding: 15px 27px 15px 27px;
    transition: all 500ms linear;
}

a.loginn:hover {
    background: #fff;
    color: #000;
}

.header-btn {
    margin-top: 20%;
}

/* header  */

/* footer  */
footer.footer {
    background: #b2924c;
    padding-top: 5%;
}

.footer-list h5 {
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 3%;
}

.footer-list ul li a {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.footer-list ul li {
    list-style: none;
    line-height: 1.9;
}

.footer-list ul {
    padding: 0;
    margin-top: 7%;
}

.footer-list form input {
    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-radius: 8px 8px 8px 8px;
    padding: 10px 20px;
}

.footer-list form {
    margin-top: 8%;
}

input#footer_send {
    background: #fff3df;
    color: #000;
    padding: 10px 22px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 6%;
    margin-bottom: 10%;
}

.footer-list img {
    width: 100%;
}

.main-logo p {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    max-width: 80%;
}

.footer-last {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 9px 0;
    margin-top: 5%;
    margin-bottom: 0;
}

/* footer  */




.setting-tabs-container .form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.setting-tabs-container input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.setting-tabs-container label {
    font-weight: 400;
    letter-spacing: 0.2px;
    display: block;
}

.setting-tabs-container .input-group {
    margin-bottom: 20px;
}

.setting-tabs-container h3 {
    letter-spacing: 0.1px;
    background-color: #f4c542;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 10px;
    margin: 0 -20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000;
}

.setting-tabs-container button {
    background-color: #f4c542;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.setting-tabs-container button:hover {
    background-color: #e0b430;
}

.setting-tabs-container .progress-bar-container {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
}

.setting-tabs-container .progress-bar {
    height: 100%;
    background-color: #c19a4b;
    width: 0%;
    /* / Start with 0% filled / */
    border-radius: 5px 0 0 5px;
    text-align: center;
    color: white;
    line-height: 30px;
    font-weight: bold;
}


.location-tabs-container input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.location-tabs-container label {
    font-weight: 400;
    letter-spacing: 0.2px;
    display: block;
}

.location-tabs-container button {
    background-color: #f4c542;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.location-tabs-container button:hover {
    background-color: #e0b430;
}

.map-search {
    display: flex;
    margin: 25px 0px;
}

.map-search input {
    margin-left: 30px;
    width: 40%;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}

.map-search h4 {
    color: #000;
    font-size: 20px;
    font-family: 'Roboto' !important;
    letter-spacing: 0px;
}

.tab-container {
    display: flex;
}

.tab-heading {
    margin-left: 21%;
}

.tab-heading h2 {
    color: #000;
    font-size: 30px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 19px;
    margin-top: 2%;
    border-radius: 10px;
}

/* .progress-bar-container {
    display: none;
} */

/* / Tabs styling / */
.tabs {
    width: 20%;
    margin-top: 21px;
    background-color: #333;
    border-right: 1px solid #ddd;
    padding-top: 0px;
    height: fit-content;
    border-radius: 5px !important;
    overflow: hidden;
}

.tabs button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 13px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tabs button:hover {
    background-color: #575757;
}

.tabs button.active {
    background-color: #444;
}

.tab-content {
    width: 80%;
    padding: 20px;
    background-color: white;
}

.tab-content>div {
    display: none;
}

.tab-content>div.active {
    display: block;
}

.map-container {
    height: 400px;
    width: 100%;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.payment-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form button {
    background-color: #f4c542;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.payment-form button:hover {
    background-color: #e0b430;
}

.tab-link-custom {
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
}

/* Payment Success Page */

.pay-card h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.pay-card p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 3%;
}

.pay-card i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    display: flex;
    justify-content: center;
}

.pay-card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none !important;
}

.card-iner {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #ededed;
    margin: 0 auto;
}
.pay-card a {
    background: #88b04b;
    padding: 17px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    border-radius: 29px;
}

/* Payment Failed */
.pay-card-failed h1 {
    color: #b04b4b;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

.pay-card-failed p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 3%;
}

.pay-card-failed i {
    color: #bc6666;
    font-size: 100px;
    line-height: 200px;
    display: flex;
    justify-content: center;
}

.pay-card-failed {
    background: white;
    padding: 60px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none !important;
}

.card-iner-failed {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #ededed;
    margin: 0 auto;
}
.pay-card-failed a {
    background: #b04b4b;
    padding: 17px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    border-radius: 29px;
}

@media screen and (max-width: 1200px) {
    .tab-heading {
        margin-left: 3%;
    }    
}
@media screen and (min-width: 1400px) and (max-width: 1550px) {
    .tab-heading {
        margin-left: 19%;
    }    
}
@media screen and (min-width: 1550px) and (max-width: 1950px) {
    .tab-heading {
        margin-left: 18%;
    }    
}
@media screen and (min-width: 1950px) {
    .tab-heading {
        margin-left: 14%;
    }    
}